@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

@theme {
      --font-display: "Urbanist", sans-serif;
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


@theme{
    --color-saltpan-50: #edf5f2;
    --color-marshland-960: #191c19;
    --color-wilds-sand-50: #f3f3f4;
}

#offering span {
  color: #047857; /* Tailwind's emerald-700 */
  font-weight: 700; /* Bold */
}

[x-cloak] {
    display: none !important;
}
